.navigation {
  display: flex;
  width: 500px;
  justify-content: space-around;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listItem {
  padding: 5px;
}

.castList {
  display: flex;
  width: 1400px;
  flex-wrap: wrap;
  composes: list;
  composes: listItem;
}
.castItem {
  width: 260px;
}

.defaultImg {
  display: block;
  width: 200px;
  height: 300px;
}

.defaultPoster {
  display: block;
  width: 500px;
  height: auto;
}
